
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #FFFBEB;
  color: #333;
  font-family: 'Quicksand', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Ajout de styles de base pour les sections et les conteneurs */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Ajout de styles pour améliorer l'apparence des boutons */
button, .button {
  font-weight: bold;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

/* Styles spécifiques pour les éléments orangés */
.bg-orange {
  background-color: #FB923C;
}

.text-orange {
  color: #FB923C;
}

.border-orange {
  border-color: #FB923C;
}

/* Réglage spécifique pour assurer que les éléments prennent toute la hauteur */
.min-h-screen {
  min-height: 100vh;
}
